<header>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
              <center><img src="../../Content/themes/base/images/FireShot%20copy.png" /></center>
              <hgroup class="title">
                <center><h1>WELCOME TO HEALTH PLAN ASSIST!</h1></center>
            </hgroup>
            <hr style="border-top-color: #fff;margin-left: auto;margin-right: auto;width: 60%"/>
            <center><h3><font color='white'>As you tell us about yourself, we’ll help you plan for your next year of<br />
            medical expenses and answer common questions along the way.</font></h3></center>
          
        </div>
    </section>

  
</div>
 <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
        @using (Html.BeginForm("MultipleCommand", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fooForm" }))
        {
            <li class="one">
                <h5>Upload Input Data</h5>
                <span style="font-family:Myriad Pro; color:#6f6f6f; font-size:0.93em">Please upload Input data file in XML format.</span> 
                <br />
                 <table>
                    <tr>    
                        <td>
                             <input type="file" runat="server"  id="fileInputData" name="fileInputData" />
                             <button type="submit" id="btnUpload" name="command" value="Upload" style="width:300px; height:30px; background-color:#E25744; color:#FFFFFF;border:none">CALCULATE MY COVERAGE USE</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                         <div runat="server" id="BucketDownloadDiv"  style="background-color:#EDEFF2;border-radius:8px; border-color:none;width:550px;color:black">
                             @Html.Raw(@TempData["ValidateError"])
                         </div>
                        </td>
                    </tr>
                </table> 
                </li>

                <li class="two">
                <h5>Quote Result</h5>
                <span style="font-family:Myriad Pro; color:#6f6f6f; font-size:0.93em">Utilization Statistics Quote Result</span> 
                <br />
                <br />
                         <div runat="server" id="InputuploadDiv">
                         @Html.Raw(@TempData["tranresult"])
                         </div>

                         <div runat="server" id="UilDiv">
                         @Html.Raw(@TempData["Result"])
                         </div> 
                </li>
                <li>
                <table>
                <tr>
                     <td>
                        <button type="submit" id="btnnext" name="command" value="nxtPage" style="width:300px; height:30px; background-color:#E25744; color:#FFFFFF;border:none; margin-left:315px">CALCULATE MY UPCOMING YEAR</button>
                     </td>
                </tr>
                </table>
            </li>
        }
        </ol>
    </section>